<div class="container">
  <h2>{{ isEdit ? 'Modifier' : 'Ajouter' }} un Utilisateur</h2>
  <form (ngSubmit)="onSubmit()">
    <label>Nom d'utilisateur :</label>
    <input [(ngModel)]="user.username" name="username" required />

    <label>Mot de passe :</label>
    <input [(ngModel)]="user.password" name="password" type="password" required />

    <label>Email :</label>
    <input [(ngModel)]="user.email" name="email" required />

    <label>Numéro de téléphone :</label>
    <input [(ngModel)]="user.phoneNumber" name="phoneNumber" required />

    <label>Rôle :</label>
    <select [(ngModel)]="user.role" name="role" required>
      <option value="USER">USER</option>
      <option value="DOCTOR">DOCTOR</option>
    </select>

    <button type="submit">{{ isEdit ? 'Modifier' : 'Créer' }}</button>
  </form>
</div>
